{% extends "layout.html" %}

{% load static %}

{% block body %}
   <section id="index-content">
    <section id="login-container-section">
        <div id="login-container">
            <div id="login-container-title">
                <h1>Iniciar Sesión</h1>
                {% if request.user.is_authenticated %}
                    <p>¡Bienvenido {{ request.user.username }}!</p>
                    <button id="user-logout-btn" type="submit">Cerrar Sesión</button>
                    
                {% else %}
                    <p>inicia sesion porfa</p>
                {% endif %}
            </div>
            <div id="login-container-form">
                    <div class="">
                        <label for="email">Correo Electrónico</label>
                        <input type="email" class="form-control" id="user-email" name="email" placeholder="Ingrese su correo electrónico">
                    </div>
                    <div class="">
                        <label for="password">Contraseña</label>
                        <input type="password" class="form-control" id="user-password" name="password" placeholder="Ingrese su contraseña">
                    </div>
                    <div class="">
                        <button id="user-login-btn" type="submit" class="">Iniciar Sesión</button>
                    </div>
                    
            </div>
        </div>
    </section>

      <!--<div id="colmo-design-background"></div>-->
      <!-- PRODUCT SLIDER -->
      <section id="product-slider-section">
         <!-- title -->
         <div class="product-slider-container">
            <!--<h3 class="product-slider-heading">Productos Nuevos</h3>-->
         
            <div class="glider-contain">
               <div class="glider" id="glider-id">
                     <!--Codigo para el carrusel de productos-->
               </div>
               
               <div id="product-slider-previus-btn" class="glider-prev">
                  <button aria-label="Previous" class="glider-prev">«</button>
               </div>
               <div id="product-slider-next-btn" class="glider-next">
                  <button aria-label="Next" class="glider-next">»</button>
               </div>
               
            </div>
         </div>

      </section>

   </section>
{% endblock body %}

{% block script %}
    <script src="{% static '/js/carousel.js' %}"></script>
    <script src="{% static '/js/glider.min.js' %}"></script>
    <script src="{% static '/js/users.js' %}"></script>
{% endblock %}