@font-face{
    font-family: MontserratFuenteCustom;
    src: url(./fonts/Montserrat-Regular.ttf);
}
@font-face{
  font-family: MontserratBold;
  src: url(./fonts/Montserrat-Bold.ttf);
}
*{
    text-decoration: none;
    list-style: none;
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
    font-family:  MontserratFuenteCustom;
}
#announcements{
    width: 100%;
    height: 30px;
    background: #202020;
    text-align: right;
    margin-top: -27px;
    
}

#announcements #announcements-message{
    font-family: MontserratFuenteCustom;
    font-size: 11px;
    color: #ffffff;
}

#announcements #announcements-message p{
    padding-top: 7px;
    padding-right: 15px;
}

#header{
    width: 100%;
    height: 88px; 
    border-bottom: 1px solid rgba(68, 67, 67, 0.5);
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: -3px -2px 7px rgb(82, 81, 81);
}

.menu-fixed{
    position: sticky;
    z-index: 1000;
    top: 0px;
    background: #ffffff;
}

#logo{
    display:flex;
    margin: -31px 10px 0 20px;
}


#logo img{
    width: 80px
}

#nav{
    display: flex;
    flex-grow: 1;
    margin-top: -15px;
    height: 22px;
}

#nav > #nav-menu{
    margin: 0px;
    margin-right: -315px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 10;
    height: 100%;
    border: 0px solid blue;  
}

#nav > #nav-menu-user{
    margin: 0px;
    margin-left: 50px;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 1;
    height: 100%;
    border: 0px solid blue;  
}

#nav #nav-menu li,
#nav #nav-menu-user li{
    margin: 0;
    margin-right: 2%; /* Was 7% */
    height: 100%;
    border: 0px solid orange;
}

#nav > #nav-menu a{
    color: #202020;
    font-size: 14px;
    font-weight: bold;
    transition: all 400ms;
}

#nav-menu-user #product-search-input{
    width: 150px;
    height: 25px;
    margin-top: -1px;
    padding-left: 2px;
}

#basket-icon img,
#user-icon img{
    margin-top: -3px;
    width: 25px;
}

@media (max-width: 1500px){

  #nav > #nav-menu{
      margin-right: -170px;
  }
}

@media (max-width: 1100px){

  #nav > #nav-menu{
      margin-right: -120px;
  }
}

@media (max-width: 950px){

  #nav > #nav-menu{
      margin-right: -100px;
  }
}

@media (max-width: 950px){

    #nav #nav-menu{
        margin-left: -105%;
    }

    #nav .menu-btn-nav{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-grow: 1;
      order: 1;
      height: 60px;
      border: 0px solid #fff;
    }

    #logo{
        display:flex;
        margin: -31px 0px 0 15%;
        order: 2;
        flex-grow: 2;
    }

    #nav > #nav-menu-user{
        margin: 0px;
        margin-left: 30px;
        margin-right: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-grow: 1;
        order: 3;
        height: 100%;
        border: 0px solid blue;  
    }
    
    #nav-menu-user #product-search-input{
        width: 120px;
        height: 25px;
        margin-top: -1px;
        padding-left: 2px;
    }
    
    .menu-btn{
      margin: 20px;
      margin-top: -10px;
      margin-right: 8px;
      width: 50px;
      height: 50px;
      border: 0px solid #fff;
      cursor: pointer;
      transition: all .5s ease-in-out;
  
    }
  
    .btn__burger{
      margin: 20px 0px 0px 7px;
      width: 30px;
      height: 4px;
      background: #202020;
      border-radius: 5px;
      transition: all .5s ease-in-out;
    }
    .btn__burger::before,
    .btn__burger::after{
      content: '';
      position:absolute;
      width: 30px;
      height: 4px;
      background: #202020;
      border-radius: 5px;
      transition: all .5s ease-in-out;
    }
    .btn__burger::before{
      transform: translateY(-10px);
    }
    .btn__burger::after{
      transform: translateY(10px);
    }
    /*ANIMATION*/
    .menu-btn.open .btn__burger{
      transform:  translateX(-40px);
      background: transparent;
      box-shadow: none;
    }
    .menu-btn.open .btn__burger::before{
      transform: rotate(45deg) translate(30px, -30px);
    }
    .menu-btn.open .btn__burger::after{
      transform: rotate(-45deg) translate(30px, 30px);
    }
  
    #header{
      z-index: 5;
    }
  
    #nav #nav-menu{
      position: fixed;
      flex-direction: column;
      width: 100%;
      margin-left: -105%;
      height: 100vh;
      background: #ffffff;
      color: transparent;
      top: 110px;
      z-index: 2;
      left: 0;
      text-align: center;
      justify-content: flex-start;
      padding-top: 50px;
      transition: all .5s ease-in-out;
    }
  
    #nav #nav-menu:first-child{
      margin-top: 50px;
    }
  
    #nav > #nav-menu li{
      flex-basis: 15%;
      margin-right: 0;
    }
  
    /*ANIMATION*/
    #nav #nav-menu.open{
      margin-left: 0;
    }
  
  }


  @media (max-width: 600px){
    #logo{
        margin: -31px 0px 0 15%;
    }
  }

/* index banner css styles */

#colmo-design-background{
  width: 100%;
  height: 400px;
  margin: 0;
  background-image: url("../img/colmo-background3.png");
  background-repeat: repeat-x;
  background-position-y: 50px;
  
}

#index-content{
  width: 100%;
  margin: 0 auto;
  margin-top: -5px;
  display: block;
  height: auto;
  border: 1px solid black;
  overflow: hidden;
}

#index-banner-container{
  width: 100%;
  height: 900px;
  margin: 0;
  animation: banner 15s infinite linear alternate;
  background-size: 100% 1050px;
  background-position-y: -40px;
  position: relative;
}

@keyframes banner {
  0%, 30%{
    background-image:url("../img/banner1.jpg");
  }
  35%, 65%{
    background-image:url("../img/banner2.jpeg");
  }
  70%, 100%{
    background-image:url("../img/banner3.jpeg");
  }
}

@media (max-width: 1500px){
  #index-banner-container {
      height: 720px;
      background-size: 100% 870px;
      background-position-y: -40px;
  }
}

@media (max-width: 1200px){
  #index-banner-container {
      height: 720px;
      background-size: 100% 744px;
      background-position-y: -25px;
  }
}

@media (max-width: 1000px){
  #index-banner-container {
      height: 706px;
      background-size: 120% 730px;
      background-position-y: -25px;
  }
}

@media (max-width: 820px){
  #index-banner-container {
      height: 706px;
      background-size: 140% 725px;
      background-position-y: -20px;
  }
}

@media (max-width: 700px){
  #index-banner-container {
      height: 706px;
      background-size: 150% 725px;
      background-position-y: -20px;
  }
}

@media (max-width: 590px){
  #index-banner-container {
      height: 700px;
      background-size: 160% 720px;
      background-position-y: -20px;
  }
}

@media (max-width: 500px){
  #index-banner-container {
      height: 629px;
      background-size: 175% 648px;
      background-position-y: -20px;
      background-position-x: -37px;
  }
}

@media (max-width: 420px){
  #index-banner-container {
      height: 629px;
      background-size: 190% 648px;
      background-position-y: -20px;
      background-position-x: -37px;
  }
}

.capa{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.2);
}


/* Product Slider css styles */
.product-slider-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  width: 95%;
  overflow-x: hidden !important;
}

.product-slider-heading{
  font-size: 30px;
  text-transform: uppercase;
  color: #202020;
  text-align: center;
  margin-bottom: 50px;
}

.product-box{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  padding: 0px 0px 40px 0px;
  border: 0px solid rgba(0,0,0,0.08);
  border-radius: 2px;
  margin: 0px 20px 40px 0px;
  overflow: hidden;
  cursor: pointer;
}

.product-box:hover{
  border: 1px solid #222222;
  transition: all ease 0.3s;
}

.product-img-container{
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: end;
}

.product-img{
  width: 100%;
  height: 90%;
  object-fit: cover;
}

.product-img a{
  width: 100%;
  height: 100%;
  display: flex;
}

.product-img a img{
  width: 100%;
  height: 100%;
  max-height: 500px;
}

.product-box-text{
  margin-top: 8px;
  padding: 0px 5px 5px 5px;
  width: 100%;
}

.product-category{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 12px;
}

.product-category span{
  color: #acacac;
  font-size: 0.8rem;
  margin: 0px 0px;
}

.product-name{
  margin-top: 5px;
  margin-left: 12px;
  color: #202020;
  text-decoration: none;
  transition: all ease 0.3s;
  cursor: pointer;
  font-weight: 600;
}

.product-name:hover{
  color: #111111;
  opacity: 0.7;
  transition: all ease 0.3s;
}

.product-store-price{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: -31px 0px 0px 10px;
}

.product-store-price span{
  width: auto;
  height: 22px;
  background: #ffffffb8;
  padding: 3px 5px 0 5px;
  color: #555;
  font-size: 0.9rem;
  font-weight: 700;
  margin: 0px 0px;
}

#product-slider-next-btn{
  width: 50px;
  height: 50px;
  border: 1px solid #111111;
  background: #ffffff ;
  margin: 55px 50px 0px 0px;
}

#product-slider-next-btn button{
  margin: -13px 36px 0px 0px;
}

#product-slider-previus-btn{
  width: 50px;
  height: 50px;
  border: 1px solid #111111;
  background: #ffffff ;
  margin: 55px 0px 0px 30px;
}

#product-slider-previus-btn button{
  margin: -13px 0px 0px 36px;
}

@media(max-width: 1200px){
  .product-category{
    margin-left: 8px;
  }
 
  .product-name{
    margin-left: 8px;
  }
  
  .product-store-price{
    margin: -31px 0px 0px 5px;
  }
}

@media(max-width:800px){
  #product-slider-next-btn{
    width: 50px;
    height: 50px;
    border: 1px solid #111111;
    background: #ffffff ;
    margin: 40px 25px 0px 0px;
  }

  #product-slider-previus-btn{
    width: 50px;
    height: 50px;
    border: 1px solid #111111;
    background: #ffffff ;
    margin: 40px 0px 0px 25px;
  }
  .product-name{
    font-size: 0.9rem;
  }
}

@media(max-width:650px){
  #product-slider-next-btn{
    margin: 20px 50px 0px 0px;
  }

  #product-slider-previus-btn{
    margin: 20px 0px 0px 30px;
  }

  .product-category{
    margin-left: 5px;
  }
 
  .product-name{
    margin-left: 5px;
  }
  
  .product-store-price{
    margin: -31px 0px 0px 2px;
  }
}

@media(max-width:641px){
  #product-slider-previus-btn{
    display: none;
  }

  #product-slider-next-btn{
    display: none;
  }	
  .product-name{
    font-size: 0.9rem;
  }
}

@media(max-width:500px){
  .product-box{
    margin: 0 10px 30px 0px;
    padding: 0px 0px 30px 0px;
  }
  
  .product-slider-heading{
    text-align: center;
    font-size: 1.3rem;
    display: flex;
  }
  
  .product-store-price .product-price{
    font-size: 0.8rem;
  }

  .product-category span{
    color: #727272;
    font-size: 0.7rem;
    margin: 0px 0px;
  }
}

/* Product retrieve CSS styles */

#product-container{
  display: flex;
  height: auto;
  flex-direction: row;
  align-items: start;
  margin: 7px auto;
  margin-top: 30px;
  overflow: hidden;
  width: 95%;
  border: 0px solid orange;
}

#product-images-container{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 30%;
  height: auto;
  margin: 0px auto;
  border: 0px solid red;
  overflow: hidden;
}

.product-image-box{
  width: 20%;
  height: auto;
  margin: 0 5px 0 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  border: 0px solid blueviolet;
  cursor: pointer;
  transition: all ease 400ms ;
}

.product-image-box:hover{
  background-color: rgba(0,0,0,0.2);
}

.principal-image-box{
  width: 100%;
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0px solid blueviolet;
}

.product-image{
  width: 100%;
  height: 100%;
}

.product-image img{
  width: 100%;
  height: auto;
}


#product-info-container{
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 600px;
  margin: 50px  auto;
  border: 0px solid green;
}

#product-title-container{
  width: 95%;
  margin: 55px 0 0 15px;
  border: 0px solid blue;
}

.product-title{
  font-size: 30px;
  font-family: MontserratBold;
  color: #2f466f !important;
  text-transform: uppercase;
  color: #202020;
  text-align: left;
}

#product-categoires-container{
  width: 95%;
  margin: 0px 0 0px 15px;
  border: 0px solid red;
}

.product-categories{
  font-size: 1rem;
  text-transform: uppercase;
  color: #202020;
  text-align: justify;
}

#product-brand-container{
  width: 95%;
  margin: 3px 0 0px 16px;
  border: 0px solid red;
}

.product-brand{
  font-size: 0.8rem;
  text-transform: uppercase;
  color:#727272;
  text-align: justify;
}

#product-price-container{
  width: 95%;
  display: block;
  margin: 15px 0 0px 16px;
  border: 0px solid red;
}

.product-price{
  font-size: 1rem;
  text-transform: uppercase;
  color:#202020;
  text-align: justify;
}

.product-price-active-sale{
  color: #acacac;
  text-decoration: line-through;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: justify;
}

.product-sale-price-none{
  display: none;
}

#product-sale-price{
  float: left;
  margin: 0 5px 0 0;
  font-size: 1rem;
  font-family: MontserratBold;
  text-transform: uppercase;
  color:#202020;
  text-decoration: none !important;
  text-align: justify;
}
.clearfix{
  float: none;
  clear: both;
}

#product-buy-tool{
  margin: 0 ;
}

#product-sizes-container{
  display: block;
  width: 95%;
  margin: 15px 0 0px 15px;
  border: 0px solid red;
}

.product-size{
  font-size: 1rem;
  margin: 0;
  margin-left: 15px;
  margin-top: 10px;
  text-transform: uppercase;
  color: #202020;
  text-align: justify;
}

#product-sizes-content{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 30%;
  height: auto;
  margin: 0px auto;
  margin-top: 10px;
  border: 0px solid red;
}

.product-size-box{
  display: flex;
  align-items: center;
  width: 100px;
  height: 40px;
  border: 1px solid rgba(68, 67, 67, 0.5);
  margin: 5px 10px 0px 0px;
  border-radius: 25px;
  cursor: pointer;
  transition: all ease 400ms;
}

.product-size-box:hover{
  background-color: #9CBED3;
}

.product-size-title{
  font-size: 1rem;
  text-transform: uppercase;
  color: #202020;
  text-align: justify;
}

@media(max-width:1200px){
  #product-images-container {
    flex-basis: 35%;
  }
  #product-title-container {
    margin: 30px 0 0 15px;
  }
}

@media(max-width:1000px){
  #product-images-container {
    flex-basis: 40%;
  }
}

@media(max-width:850px){
  #product-images-container {
    flex-basis: 45%;
  }
  #product-title-container {
    margin: -20px 0 0 15px;
  }
}

@media(max-width:800px){
  #product-container {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
  #product-info-container {
    width: 100%;
  }
}
@media(max-width:500px){
  #product-container {
    width: 75%;
  }
  #product-title-container {
    margin: -20px 0 0 0px;
  }
  .product-title{
    font-size: 25px;
  }

  #product-categoires-container{
    margin: 0px 0 0px 0px;
  }
  #product-brand-container {
    margin: 3px 0 0px 0px;
  }
  #product-price-container {
    margin: 15px 0 0px 0px;
  }
  .product-size {
    margin-left: 0px;
    width: 100%;
  }
}

@media(max-width:450px){
  #product-container {
    width: 85%;
  }
  .product-title{
    font-size: 20px;
  }
  .product-categories {
    font-size: 0.9rem;    
  }
}