@font-face {
  font-family: MontserratFuenteCustom;
  src: url(./fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: MontserratBold;
  src: url(./fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: MontserratLight;
  src: url(./fonts/Montserrat-Light.ttf);
}

* {
  width: 100%;
  text-decoration: none;
  list-style: none;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
  font-family: MontserratFuenteCustom;
}

#website-area {
  width: 100%;
  overflow: hidden;
}

#announcements {
  width: 100%;
  height: 30px;
  background: #202020;
  text-align: right;
  margin-top: -27px;

}

#announcements #announcements-message {
  font-family: MontserratFuenteCustom;
  font-size: 11px;
  color: #ffffff;
}

#announcements #announcements-message p {
  padding-top: 7px;
  padding-right: 15px;
}

#header {
  width: 100%;
  height: 88px;
  border-bottom: 1px solid rgba(68, 67, 67, 0.5);
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: -3px -2px 7px rgb(82, 81, 81);
}

.menu-fixed {
  position: sticky;
  z-index: 1000;
  top: 0px;
  background: #ffffff;
}

#logo {
  display: flex;
  margin: -31px 10px 0 20px;
  width: 100%;
  flex-basis: 15%;
}


#logo img {
  width: 80px
}

#nav {
  display: flex;
  flex-grow: 1;
  margin-top: 35px;
  height: 49px;
}

#nav>#nav-menu {
  margin: 0px;
  /*margin-right: -315px;*/
  margin-right: -215px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 10;
  height: 100%;
  border: 0px solid blue;
  width: 100%;
  flex-basis: 100%;
}

#nav>#nav-menu-user {
  margin: 0px;
  margin-left: 50px;
  margin-right: -45px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-grow: 1;
  height: 100%;
  border: 0px solid blue;
  flex-basis: 35%;
}

#nav #nav-menu li,
#nav #nav-menu-user li {
  width: auto;
  margin: 0;
  margin-right: 3%;
  /* Was 7% */
  height: 100%;
  border: 0px solid orange;
}

#nav>#nav-menu a,
#nav-menu-clothes-dropdown-category a,
#nav>#nav-menu #nav-menu-clothes,
#nav-menu-brands-dropdown-category a,
#nav>#nav-menu #nav-menu-brands{
  color: #2f466f;
  font-family: MontserratBold;
  font-size: 14px;
  transition: all 400ms;
  display: block;
  cursor: pointer;
}

#nav-menu-user #product-search-input {
  width: 150px;
  height: 25px;
  margin-top: -1px;
  padding-left: 2px;
}

#nav .menu-btn-nav {
  width: 0;
}


/* Nav-menu clothes dropdown*/

#nav-menu-clothes-dropdown-nav,
#nav-menu-brands-dropdown-nav{
  display: none;
  position: relative;
  width: 100%;
  height: 100px;
  top: 1px;
  background-color: #ffffff;
}

.nav-menu-clothes-dropdown,
.nav-menu-brands-dropdown {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  height: 100px;
  top: 88px;
  background-color: #ffffff;
  z-index: 1;
  left: 0px;
  padding-top: 42px;
  transition: all 300ms ease;
  box-shadow: -1px 2px 5px rgb(189, 189, 189) inset;
  animation: openDropdownDesktop 200ms ease-in;
}

.nav-colmo-icon{
  display: none;
}

@keyframes openDropdownDesktop{
      0%{
          opacity: 0;
          height: 0px;
      }
      25%{
          opacity: .25;
          height: 25px;
      }
      50%{
          opacity: .5;
          height: 50px;
      }
      75%{
        opacity: .75;
        height: 75px;
      }
      100%{
        opacity: 1;
        height: 100px;
      }
}

.nav-menu-clothes-dropdown:hover,
.nav-menu-brands-dropdown:hover{
  transition: all 300ms ease;
  display: inline-flex;
}

#nav-menu-clothes,
#nav-menu-brands{
  height: 50px !important;
  transition: all 300ms ease;
  width: 100px;
  text-align: center;
  margin-right: -25px;
  margin-left: -25px;
}

#nav-menu-clothes:hover ~ .nav-menu-clothes-dropdown,
#nav-menu-brands:hover ~ .nav-menu-brands-dropdown{
  transition: all 300ms ease;
  display: inline-flex;
}

.nav-menu-clothes-dropdown-category,
.nav-menu-brands-dropdown-category{
  display: inline-flex;
  margin: 0px 96px 0px 15px !important;
  color: #2f466f;
  font-family: MontserratBold;
  font-size: 14px;
  transition: all 400ms;
}

#nav-menu-brands-dropdown-category{
  width: 10% !important;
}


@media(max-width:950px) {
  #nav-menu-clothes,
  #nav-menu-brands {
    height: 30px !important;
    transition: all 300ms ease;
    width: 100%;
    text-align: center;
    margin-right: 0px;
    margin-left: 0px;
  }

  .nav-menu-clothes-dropdown,
  .nav-menu-brands-dropdown {
    display: none;
  }

  .nav-menu-clothes-dropdown-category,
  .nav-menu-brands-dropdown-category {
    display: inline-flex;
    margin: 10px 0px 2px 0px !important;
    width: 100% !important;
  }

  .nav-menu-clothes-dropdown-open,
  .nav-menu-brands-dropdown-open{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    top: 0px;
    margin-bottom: 30px;
    padding-top: 0px;
    box-shadow: 0px 0px 4px rgb(82, 82, 82) inset; 
    transition: all 300ms ease;
    width: 100%;
    height: auto;
    padding: 15px 0px 15px 0px;
    background-color: #ffffff;
    z-index: 1;
    left: 0px;
    animation: openDropdown 170ms ease-out;
  }

  .nav-colmo-icon {
    display: block;
    background: #2f466f;
    width: 14px;
    height: 9px;
    border-radius: 50%;
    transform: rotate(30deg);
    position: relative;
    top: 4px;
    left: 120px;
  }

  @keyframes openDropdown{
      0%{
          opacity: 0;
          height: 0px;
      }
      25%{
          opacity: .25;
          height: 25px;
      }
      50%{
          opacity: .5;
          height: 50px;
      }
      75%{
        opacity: .75;
        height: 75px;
      }
      100%{
        opacity: 1;
        height: 100px;
      }
  }

  @keyframes closeDropdown{
    0%{
        opacity: 1;
        height: 100px;
    }
    25%{
        opacity: .75;
        height: 75px;
    }
    50%{
        opacity: .5;
        height: 50px;
    }
    75%{
      opacity: .25;
      height: 25px;
    }
    100%{
      opacity: 0;
      height: 0px;
    }
}

}

#basket-icon img,
#user-icon img {
  margin-top: -3px;
  width: 30px;
  margin-right: -7px;
}

#basket-count {
  display: inline-flex;
  background: #9cbed3cc;
  width: 25px;
  height: 16px;
  border-radius: 50%;
  transform: rotate(30deg);
  position: relative;
  top: -15px;
  right: 14px;
}

#basket-count-title {
  font-family: MontserratFuenteCustom;
  width: auto;
  height: auto;
  color: #222;
  transform: rotate(-30deg);
  margin-left: 9px;
  font-size: 15px;
  position: fixed;
  top: -9px;
  left: -7px;
  bottom: 13px;
  text-align: center;
}

@media (max-width: 1500px) {

  #nav>#nav-menu {
    margin-right: -170px;
  }
}

@media (max-width: 1100px) {

  #nav>#nav-menu {
    margin-right: -120px;
  }

}

@media (max-width: 950px) {

  #nav>#nav-menu {
    margin-right: -100px;
  }

}

@media (max-width: 950px) {

  #nav #nav-menu {
    margin-left: -105%;
  }

  #nav .menu-btn-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow: 1;
    order: 1;
    height: 60px;
    border: 0px solid #fff;
  }

  #logo {
    margin: -31px 0px 0 45%;
    order: 2;
    flex-direction: row;
    flex-basis: 80%;
  }

  #nav>#nav-menu-user {
    margin: 0px;
    margin-left: 30px;
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-basis: 30%;
    order: 3;
    height: 100%;
    border: 0px solid blue;
  }

  #nav-menu-user #product-search-input {
    width: 120px;
    height: 25px;
    margin-top: -1px;
    padding-left: 2px;
  }

  .menu-btn {
    margin: 20px;
    margin-top: -10px;
    margin-right: 8px;
    width: 50px;
    height: 50px;
    border: 0px solid #fff;
    cursor: pointer;
    transition: all .5s ease-in-out;

  }

  .btn__burger {
    margin: 20px 0px 0px 7px;
    width: 30px;
    height: 4px;
    background: #2f466f;
    border-radius: 5px;
    transition: all .5s ease-in-out;
  }

  .btn__burger::before,
  .btn__burger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background: #2f466f;
    border-radius: 5px;
    transition: all .5s ease-in-out;
  }

  .btn__burger::before {
    transform: translateY(-10px);
  }

  .btn__burger::after {
    transform: translateY(10px);
  }

  /*ANIMATION*/
  .menu-btn.open .btn__burger {
    transform: translateX(-40px);
    background: transparent;
    box-shadow: none;
  }

  .menu-btn.open .btn__burger::before {
    transform: rotate(45deg) translate(30px, -30px);
  }

  .menu-btn.open .btn__burger::after {
    transform: rotate(-45deg) translate(30px, 30px);
  }

  #header {
    z-index: 5;
  }

  #nav #nav-menu {
    position: absolute;
    flex-direction: column;
    width: 100%;
    margin-left: -105%;
    min-height: 100vh;
    background: #ffffff;
    color: transparent;
    top: 87px;
    border: 1px solid rgba(68, 67, 67, 0.342);
    z-index: 2;
    left: 0;
    text-align: center;
    justify-content: flex-start;
    padding-top: 50px;
    transition: all .5s ease-in-out;
  }

  #nav #nav-menu:first-child {
    margin-top: 50px;
  }

  #nav>#nav-menu li {
    flex-basis: 10%;
    margin-right: 0;
  }

  /*ANIMATION*/
  #nav #nav-menu.open {
    margin-left: 0;
  }

}


@media (max-width: 600px) {
  #logo {
    margin: -31px 0px 0 39%;
    order: 2;
    flex-direction: row;
    flex-basis: 25%;
  }
}


/* index banner css styles */
#colmo-design-background {
  width: 100%;
  height: 400px;
  margin: 0;
  background-image: url("../img/colmo-background3.png");
  background-repeat: repeat-x;
  background-position-y: 50px;

}

#index-content {
  width: 100%;
  margin: 0 auto;
  margin-top: -5px;
  display: block;
  height: auto;
  border: 0px solid black;
  overflow: hidden;
}

#index-banner-container {
  width: 100%;
  height: 900px;
  margin: 0;
  animation: banner 20s infinite linear normal;
  background-size: 100% 1050px;
  background-position-y: -40px;
  position: relative;
}

#caballeros-banner-container {
  width: 100%;
  height: 900px;
  margin: 0;
  background-image: url("../img/banner2.jpeg");
  background-size: 100% 1050px;
  background-position-y: -40px;
  position: relative;
}

#colmo-banner-container {
  width: 100%;
  height: 900px;
  margin: 0;
  background-image: url("../img/banner2.jpeg");
  background-size: 100% 1050px;
  background-position-y: -40px;
  position: relative;
}

#teulu-banner-container {
  width: 100%;
  height: 900px;
  margin: 0;
  background-image: url("../img/teulu.jpg");
  background-size: 74% 1200px;
  background-position-y: -218px;
  position: relative;
  background-position-x: 222px;
}

#damas-banner-container {
  width: 100%;
  height: 900px;
  margin: 0;
  background-image: url("../img/banner3.jpeg");
  background-size: 100% 1050px;
  background-position-y: -40px;
  position: relative;
}

#populares-banner-container {
  width: 100%;
  height: 900px;
  margin: 0;
  background-image: url("../img/populares1.jpeg");
  background-size: 100% 1050px;
  background-position-y: -40px;
  position: relative;
}

#ofertas-banner-container {
  width: 100%;
  height: 900px;
  margin: 0;
  background-image: url("../img/ofertas1.jpeg");
  background-size: 100% 1050px;
  background-position-y: -40px;
  position: relative;
}

#accesorios-banner-container {
  width: 100%;
  height: 900px;
  margin: 0;
  background-image: url("../img/accesorios1.jpeg");
  background-size: 100% 1050px;
  background-position-y: -40px;
  position: relative;
}

@keyframes banner {
  0%, 20%{
    background-image:url("../img/banner1.jpg");
  }
  25%, 45%{
    background-image:url("../img/banner2.jpeg");
  }
  50%, 70%{
    background-image:url("../img/banner3.jpeg");
  }
  75%, 100%{
    background-image: url("../img/ofertas1.jpeg");
  }
}
@media (max-width: 1500px) {

  #index-banner-container,
  #caballeros-banner-container,
  #populares-banner-container,
  #damas-banner-container,
  #accesorios-banner-container,
  #ofertas-banner-container {
    height: 720px;
    background-size: 100% 870px;
    background-position-y: -40px;
  }
}

@media (max-width: 1200px) {

  #index-banner-container,
  #caballeros-banner-container,
  #populares-banner-container,
  #damas-banner-container,
  #accesorios-banner-container,
  #ofertas-banner-container {
    height: 720px;
    background-size: 100% 744px;
    background-position-y: -25px;
  }
}

@media (max-width: 1000px) {

  #index-banner-container,
  #caballeros-banner-container,
  #populares-banner-container,
  #damas-banner-container,
  #accesorios-banner-container,
  #ofertas-banner-container {
    height: 706px;
    background-size: 120% 730px;
    background-position-y: -25px;
  }
}

@media (max-width: 820px) {

  #index-banner-container,
  #men-banner-container,
  #populares-banner-container,
  #damas-banner-container,
  #accesorios-banner-container,
  #ofertas-banner-container {
    height: 706px;
    background-size: 140% 725px;
    background-position-y: -20px;
  }
}

@media (max-width: 700px) {

  #index-banner-container,
  #caballeros-banner-container,
  #populares-banner-container,
  #damas-banner-container,
  #accesorios-banner-container,
  #ofertas-banner-container {
    height: 706px;
    background-size: 150% 725px;
    background-position-y: -20px;
  }
}

@media (max-width: 590px) {

  #index-banner-container,
  #caballeros-banner-container,
  #populares-banner-container,
  #damas-banner-container,
  #accesorios-banner-container,
  #ofertas-banner-container {
    height: 700px;
    background-size: 160% 720px;
    background-position-y: -20px;
  }
}

@media (max-width: 500px) {

  #index-banner-container,
  #caballeros-banner-container,
  #populares-banner-container,
  #damas-banner-container,
  #accesorios-banner-container,
  #ofertas-banner-container {
    height: 627px;
    background-size: 175% 648px;
    background-position-y: -20px;
    background-position-x: -37px;
  }
}

@media (max-width: 420px) {

  #index-banner-container,
  #caballeros-banner-container,
  #populares-banner-container,
  #damas-banner-container {
    height: 627px;
    background-size: 220% 648px;
    background-position-y: -20px;
    background-position-x: -40px;
  }

  #accesorios-banner-container,
  #ofertas-banner-container {
    background-position-y: -20px;
    background-position-x: -100px;
  }
}

.capa {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}


/* Product Slider css styles */
.product-slider-container,
#index-brands-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  width: 95%;
  overflow-x: hidden !important;
}

.product-slider-heading,
.index-brands-heading {
  font-size: 30px;
  text-transform: uppercase;
  font-family: MontserratBold;
  color: #4D5254;
  text-align: left;
}

.product-box {
  display: flex;
  flex-direction: column;
  width: auto !important; /*300px*/
  height: auto !important; /*400px*/
  padding: 0px 0px 40px 0px;
  border: 0px solid rgba(0, 0, 0, 0.08);
  border-radius: 2px;
  margin: 0px 20px 40px 0px;
  overflow: hidden;
  cursor: pointer;
}

.product-box:hover {
  border: 0px solid #222222;
  transition: all ease 0.3s;
}

.product-img-container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: end;
}

.product-img {
  width: 100%;
  height: 90%; /*90%*/
}

.product-img a {
  width: 100%;
  height: 100%;
  display: flex;
}

.product-img a img {
  width: 100%;
  height: 100%;
  max-height: 500px;
  object-fit: cover; /*none*/
}

.product-box-text {
  margin-top: 8px;
  padding: 0px 5px 5px 1px;
  width: 100%;
}

.product-category {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 12px;
}

.product-category span {
  color: #acacac;
  font-size: 0.8rem;
  margin: 0px 0px;
}

.product-name {
  margin-top: 5px;
  margin-left: 12px;
  color: #202020;
  text-decoration: none;
  transition: all ease 0.3s;
  cursor: pointer;
  font-weight: 600;
}

.product-name:hover {
  color: #111111;
  opacity: 0.7;
  transition: all ease 0.3s;
}

.product-store-price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: -31px 0px 0px 10px;
}

.product-store-price span {
  width: auto;
  height: 22px;
  background: #ffffffb8;
  padding: 3px 5px 0 5px;
  color: #555;
  font-size: 0.9rem;
  font-weight: 700;
  margin: 0px 0px;
}

.carousel-product-sale-price {
  color: #2f466f !important;
}

.carousel-product-sale-store-price {
  color: #acacac;
  text-decoration: line-through;
}

.carousel-product-price {
  text-decoration: none;
}

#product-slider-next-btn {
  width: 50px;
  height: 50px;
  border: 1px solid #111111;
  background: #ffffff;
  margin: 55px 50px 0px 0px;
}

#product-slider-next-btn button {
  margin: -13px 25px 0px 0px;
}

#product-slider-previus-btn {
  width: 50px;
  height: 50px;
  border: 1px solid #111111;
  background: #ffffff;
  margin: 55px 0px 0px 30px;
}

#product-slider-previus-btn button {
  margin: -13px 0px 0px 25px;
}

@media(max-width: 1200px) {
  .product-category {
    margin-left: 8px;
  }

  .product-name {
    margin-left: 8px;
  }

  .product-store-price {
    margin: -31px 0px 0px 5px;
  }
}

@media(max-width:800px) {
  #product-slider-next-btn {
    width: 50px;
    height: 50px;
    border: 1px solid #111111;
    background: #ffffff;
    margin: 40px 25px 0px 0px;
  }

  #product-slider-previus-btn {
    width: 50px;
    height: 50px;
    border: 1px solid #111111;
    background: #ffffff;
    margin: 40px 0px 0px 25px;
  }

  .product-name {
    font-size: 0.9rem;
  }
}

@media(max-width:650px) {
  #product-slider-next-btn {
    margin: 20px 50px 0px 0px;
  }

  #product-slider-previus-btn {
    margin: 20px 0px 0px 30px;
  }

  .product-category {
    margin-left: 5px;
  }

  .product-name {
    margin-left: 5px;
  }

  .product-store-price {
    margin: -31px 0px 0px 2px;
  }
}

@media(max-width:641px) {
  #product-slider-previus-btn {
    display: none;
  }

  #product-slider-next-btn {
    display: none;
  }

  .product-name {
    font-size: 0.9rem;
  }
}

@media(max-width:500px) {
  .product-box {
    margin: 0 10px 30px 0px;
    padding: 0px 0px 30px 0px;
    min-width: 215px !important; /*none*/
  }

  .product-slider-heading {
    text-align: center;
    font-size: 1.3rem;
    display: flex;
  }

  .product-store-price .product-price {
    font-size: 0.8rem;
  }

  .product-category span {
    color: #727272;
    font-size: 0.7rem;
    margin: 0px 0px;
  }
}

/* Index Brands */
#index-brands-section{
  width: 100%;
  height: auto;
  margin-top: 50px;
  margin-bottom: -40px;
}

.index-brands-heading{
  width: 95%;
}

#index-brands-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  width: 100%;
  height: auto;
  margin: 0px;
  overflow: hidden;
}

#brand-container{
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 50px 30px 10px 30px;
  border: 1px solid rgba(68, 67, 67, 0.5);
  box-shadow: -1px 1px 7px rgb(114, 113, 113);
  border-radius: 80px 120px 80px 120px;
  -webkit-animation: pulsate-bck 2s linear infinite both;
	animation: pulsate-bck 2s linear infinite both;
}

#brand-container:hover{
}

@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media(max-width:520px) {
  #brand-container{
    width: 180px;
    height: 180px;
    margin: 50px 10px 10px 10px;
  }
}

@media(max-width:400px) {
  #brand-container{
    width: 165px;
    height: 165px;
    margin: 50px 10px 10px 10px;
  }
}

#brand-images-container{
  width: 100%;
  height: 100%;
}

#brand-images-container a{
  width: 100%;
  height: 100%;
}

#brand-img{
  width: 100%;
  height: 100%;
}

/* Product retrieve CSS styles */

#product-container {
  display: flex;
  height: auto;
  flex-direction: row;
  align-items: start;
  margin: 7px auto;
  margin-top: 30px;
  overflow: hidden;
  width: 95%;
  border: 0px solid orange;
}

#product-images-container {
  display: inline-flex;
  flex-direction: row-reverse;
  /*row reverse*/
  flex-wrap: nowrap;
  /*nowrap*/
  flex-basis: 45%;
  height: auto;
  margin: 0px auto;
  border: 0px solid red;
  overflow: hidden;
  width: 100%;
}

.product-sec-images {
  display: flex;
  width: 20%;
  flex-direction: column;
  margin-right: 20px;
}

.product-image-box {
  width: 100%;
  height: auto;
  margin: 0 5px 0 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  border: 0px solid blueviolet;
  cursor: pointer;
  transition: all ease 400ms;
}

.product-image-box:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.principal-image-box {
  width: 100%;
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0px solid blueviolet;
}

.product-image {
  width: 100%;
  height: 100%;
}

.product-image img {
  width: 100%;
  height: auto;
}


#product-info-container {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  height: auto;
  margin: 50px auto;
  border: 0px solid green;
}

#product-title-container {
  width: 95%;
  margin: 55px 0 0 15px;
  border: 0px solid blue;
}

.product-title {
  font-size: 30px;
  font-family: MontserratBold;
  color: #2f466f !important;
  text-transform: uppercase;
  color: #202020;
  text-align: left;
}

#product-categoires-container {
  width: 95%;
  margin: 0px 0 0px 15px;
  border: 0px solid red;
}

.product-categories {
  font-size: 1rem;
  text-transform: uppercase;
  color: #202020;
  text-align: justify;
}

#product-brand-container {
  width: 95%;
  margin: 3px 0 0px 16px;
  border: 0px solid red;
}

.product-brand {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #727272;
  text-align: justify;
}

#product-price-container {
  width: 95%;
  display: block;
  margin: 15px 0 0px 16px;
  border: 0px solid red;
}

.product-price {

  font-size: 1rem;
  text-transform: uppercase;
  color: #202020;
  text-align: justify;
}

.product-price-active-sale {
  width: auto;
  color: #acacac;
  text-decoration: line-through;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: justify;
}

.product-sale-price-none {
  display: none;
}

#product-sale-price {
  float: left;
  width: auto;
  margin: 0 5px 0 0;
  font-size: 1rem;
  font-family: MontserratBold;
  text-transform: uppercase;
  color: #202020;
  text-decoration: none !important;
  text-align: justify;
}

.clearfix {
  float: none;
  clear: both;
}

#product-buy-tool {
  margin: 0;
}

#product-sizes-container {
  display: block;
  width: 95%;
  margin: 15px 0 0px 15px;
  border: 0px solid red;
}

.product-size {
  font-size: 1rem;
  margin: 0;
  margin-left: 15px;
  margin-top: 20px;
  text-transform: uppercase;
  color: #202020;
  text-align: justify;
}

#product-sizes-content {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 30%;
  height: auto;
  margin: 0px auto;
  margin-top: 0px;
  border: 0px solid red;
}

.product-size-box {
  display: flex;
  align-items: center;
  width: 100px;
  height: 40px;
  border: 1px solid rgba(68, 67, 67, 0.5);
  margin: 5px 10px 0px 0px;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease 400ms;
}

.product-size-box:hover {
  background-color: #9CBED3;
}

.product-size-radio {
  background: none;
  display: none;
}

.product-size-title {
  width: 100%;
  height: 100%;
  padding-top: 9px;
  cursor: pointer;
  background: none;
  font-size: 1rem;
  font-family: MontserratBold;
  text-transform: uppercase;
  color: #202020;
  text-align: center;
}

.product-size-radio:checked+.product-size-title {
  background-color: #9CBED3;
}

.product-add-btn-container {
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-left: 15px;
}

#product-add-button {
  font-size: 20px;
  font-family: MontserratBold;
  text-transform: uppercase;
  width: 250px;
  height: 50px;
  background: #9CBED3;
  border: 0px;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  transition: all ease 400ms;
}

#product-add-button:hover {
  background: #2f466f;
}

@media(max-width:1490px) {
  #product-images-container {
    flex-basis: 100%;
    margin-right: 100px;
  }

  #product-info-container {
    flex-basis: 50%;
    margin: 50px auto;
  }

  #product-title-container {
    margin: 0px 0 0 15px;
  }
}

@media(max-width:1250px) {
  #product-images-container {
    flex-basis: 100%;
  }

  #product-info-container {
    flex-basis: 65%;
    margin: 20px auto;
  }

  #product-title-container {
    margin: 10px 0 0 15px;
  }
}

@media(max-width:1000px) {
  #product-images-container {
    flex-basis: 100%;
  }

  #product-info-container {
    flex-basis: 75%;
    margin: 0px auto;
  }
}

@media(max-width:900px) {
  #product-images-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
  }

  .product-sec-images {
    display: flex;
    width: 65%;
    flex-direction: row;
    margin-left: 0px;
  }

  #product-container {
    display: flex;
    flex-direction: column;
    width: 70%;
  }

  #product-info-container {
    flex-basis: 70%;
    margin-left: 0;
    width: 100%;
  }

  .product-add-btn-container {
    margin-left: 0px;
  }

  #product-add-button {
    width: 100%;
    margin-left: 0;
  }

  #product-title-container {
    margin-left: 0px;
  }

  #product-categoires-container {
    margin-left: 0px;
  }

  #product-brand-container {
    margin-left: 0px;
  }

  #product-price-container {
    margin-left: 0px;
  }

  .product-size {
    margin-left: 0px;
  }

  #product-sizes-container {
    margin-left: 0px;
  }
}

@media(max-width:500px) {

  #product-container {
    width: 95%;
  }

}

@media(max-width:450px) {
  #product-container {
    width: 90%;
  }

  .product-title {
    font-size: 22px;
  }

  .product-categories {
    font-size: 0.9rem;
  }

  .product-size {
    font-size: 0.99rem;
  }

  .product-size-box {
    width: 70px;
    height: 30px;
  }

  .product-size-title {
    padding-top: 4px;
  }
}


/* Basket */

#basket-title-container {
  width: 100%;
  height: auto;
  margin: 0px 0px 0px 0px;
}

#basket-title {
  font-size: 35px;
  margin: 35px 0px 0px 70px;
  font-family: MontserratBold;
  color: #2f466f;
  text-transform: uppercase;
  text-align: left;
}

#basket-info-container {
  width: 100%;
  height: auto;
  margin: 0px 0px 19px 70px;
}

.basket-total-qty,
.basket-total-price {
  font-size: 17px;
  font-family: MontserratFuenteCustom;
  color: #7C8082;
  text-transform: uppercase;
  text-align: left;
}

.colmo-line {
  width: 100%;
  height: 40px;
  background: #9CBED3;
  margin-top: 10px;
}

#basket-products-container {
  width: 50%;
  height: auto;
  border: 0px solid blueviolet;
  overflow: hidden;
}

#basket-product-container {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: row;
  border: 0px solid rgba(68, 67, 67, 0.5);
}

#basket-product-image-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  width: 210px;
}


.basket-product-img {
  display: flex;
  flex-direction: row;
  width: 210px;
  max-height: 210px;
  margin-top: 20px;
  overflow: hidden;
}

.basket-product-img a {
  width: 100%;
  height: 100%;
  display: flex;
}

.basket-product-img a img {
  width: 100%;
  height: 100%;
  max-height: 500px;
  object-position: center;
  object-fit: contain;
  position: relative;
}

#basket-product-info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: 100%;
  margin: 20px 0px 0px 15px;
  width: 65%;
  border: 0px solid red;
}

#basket-product-name {
  margin: 0;
  font-size: 28px;
  font-family: MontserratBold;
  color: #2f466f;
  text-transform: uppercase;
  text-align: left;
}

#basket-product-category {
  margin: 0;
  margin-top: 5px;
  font-size: 15px;
  font-family: MontserratFuenteCustom;
  color: #7C8082;
  text-transform: uppercase;
  text-align: left;
}

#basket-product-size {
  margin: 0;
  margin-top: 5px;
  font-size: 15px;
  font-family: MontserratFuenteCustom;
  color: #7C8082;
  text-transform: uppercase;
  text-align: left;
}

#basket-product-price-container {
  width: 95%;
  display: block;
  margin: 0px 0 0px 0px;
}

.basket-product-sale-price {
  float: left;
  width: auto;
  margin: 5px 5px 0 0;
  font-size: 21px;
  font-family: MontserratBold;
  text-transform: uppercase;
  color: #2f466f;
  text-decoration: none !important;
  text-align: justify;
}

.basket-product-price {
  margin: 0;
  margin-top: 5px;
  font-size: 21px;
  font-family: MontserratBold;
  color: #2f466f;
  text-transform: uppercase;
  text-align: left;
}

.basket-product-price-active {
  width: auto;
  color: #acacac;
  text-decoration: line-through;
  margin: 0;
  margin-top: 5px;
  font-size: 21px;
  font-family: MontserratFuenteCustom;
  text-transform: uppercase;
  text-align: left;
}

#basket-product-qty-container {
  display: flex;
  flex-direction: row;
  /* margin-top: 98px;*/
  margin-top: 0;
}

#basket-qty-title {
  margin: 0;
  width: auto;
  margin-top: 5px;
  margin-right: 5px;
  font-size: 15px;
  font-family: MontserratFuenteCustom;
  color: #222222;
  text-transform: uppercase;
  text-align: left;
}

#basket-product-qty-select {
  width: 35px;
  margin-top: 5px;
  margin-left: 5px;
  background: none;
  border: none;
  font-family: MontserratFuenteCustom;
  font-size: 17px;
  color: #222222;
  cursor: pointer;
}

.basket-product-delete-container {
  flex-basis: 5%;
  width: 100%;
  height: 20px;
  margin: 20px 0px 0px 0px;
  text-align: center;
  cursor: pointer;
  border: 0px solid red;
  border-radius: 50%;
  background: #DADDDF;
  transform: rotate(20deg);
}

#basket-product-delete-title {
  font-size: 15px;
  font-family: MontserratFuenteCustom;
  color: #222222;
  transform: rotate(-20deg);
}

.add-product-msg-container {
  display: none;
  width: 100%;
  margin: 15px 0px 0px 15px;
}

.add-product-msg {
  font-size: 15px;
  font-family: MontserratFuenteCustom;
  color: #2f466f;
}

#empty-basket-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  margin: 0;
  border: 0px solid red;
  margin-top: 50px;
}

#empty-basket-title {
  width: 100%;
  margin-top: 0px;
  font-family: MontserratBold;
  font-size: 40px;
  color: #2f466f;
  text-transform: uppercase;
  text-align: center;
}

#empty-basket-subtitle {
  width: 100%;
  font-family: MontserratBold;
  font-size: 30px;
  color: #9CBED3;
  text-transform: uppercase;
  text-align: center;
}

#basket-resumen-container {
  width: 95%;
  margin-bottom: 30px;
}

#basket-resumen-title {
  font-family: MontserratBold;
  font-size: 30px;
  color: #4D5254;
}

#basket-resumen-info-costo-container {
  display: inline-flex;
  width: 100%;
  margin-top: 5px;
}


#basket-resumen-costo-title-container {
  width: 100%;
  flex-basis: 50%;
}

#basket-resumen-costo-title {
  font-family: MontserratLight;
  font-size: 18px;
  color: #323232;
}

#basket-resumen-costo-container {
  width: 100%;
  flex-basis: 50%;
  display: inline-flex;
  justify-content: end;
}

#basket-resumen-costo {
  flex-basis: 0%;
  margin: 0;
  font-family: MontserratLight;
  font-size: 18px;
  color: #323232;
  text-align: right;
}

#resumen-basket-usd {
  margin: 0;
  flex-basis: 0%;
  font-family: MontserratLight;
  font-size: 18px;
  color: #323232;
}

#basket-resumen-info-qty-container {
  display: inline-flex;
  width: 100%;
  margin-top: 3px;
}


#basket-resumen-costo-qty-container {
  width: 100%;
  flex-basis: 50%;
}

#basket-resumen-qty-title {
  font-family: MontserratLight;
  font-size: 18px;
  color: #323232;
}

#basket-resumen-qty-container {
  width: 100%;
  flex-basis: 50%;
}

#basket-resumen-total-qty {
  font-family: MontserratLight;
  font-size: 18px;
  color: #323232;
  text-align: right;
}


#basket-resumen-info-total-container {
  display: inline-flex;
  width: 100%;
  margin-top: 3px;
}

#basket-resumen-total-title-container {
  width: 100%;
  flex-basis: 50%;
}

#basket-resumen-total-title {
  font-family: MontserratLight;
  font-size: 18px;
  color: #323232;
}

#basket-resumen-total-container {
  width: 100%;
  flex-basis: 50%;
  display: inline-flex;
  justify-content: end;
}

#basket-resumen-total-price {
  flex-basis: 0%;
  margin: 0;
  font-family: MontserratLight;
  font-size: 18px;
  color: #323232;
  text-align: right;
}

#basket-resumen-info-discount-container {
  display: flex;
  flex-direction: row;
}

#basket-resumen-discount-title-container {
  display: inline-flex;
}

#basket-resumen-discount-title {
  width: 110px;
  font-family: MontserratLight;
  font-size: 18px;
  color: #323232;
  margin: 2px 0px 0px 0px;
}

#discount-form {
  width: 120px;
  margin: 5px 0px 0px 0px;
}

#basket-resumen-discount-container {
  display: inline-flex;
  width: 100%;
  justify-content: flex-end;
}

#basket-resumen-discount {
  margin: 5px 5px 0px 0px;
  width: 100%;
  flex-basis: 5%;
}

#discount-box {
  display: none;
  margin: 0;
  width: 100%;
  flex-basis: 25%;
  border: 0px solid #4D5254;
  height: 30px;
  border-radius: 30px;
  background-color: #2f466f;
  transition: all ease 400ms;
}

#discount-box:hover {
  background: #9CBED3;
}

#discount-box-title {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 6px 0px 0px 10px;
  font-family: MontserratLight;
  font-size: 15px;
  color: #fff;
  flex-basis: 100%;
}

#delete-discount-btn {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 6px 0px 0px 5px;
  font-family: MontserratLight;
  font-size: 15px;
  border-left: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  flex-basis: 25%;
}

#basket-resumen-checkout-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 20px;
  border: 0px solid red;
}

#basket-resumen-checkout-btn {
  font-size: 20px;
  font-family: MontserratBold;
  text-transform: uppercase;
  width: 250px;
  height: 50px;
  background: #9CBED3;
  border: 0px;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  transition: all ease 400ms;
}

#basket-resumen-checkout-btn:hover {
  background: #2f466f;
}

@media(max-width:1450px) {
  #basket-products-container {
    width: 60%;
  }
}

@media(max-width:1230px) {
  #basket-products-container {
    width: 70%;
  }
}

@media(max-width:1000px) {
  #basket-products-container {
    width: 80%;
  }

  #basket-product-name {
    font-size: 25px;
  }
}

@media(max-width:850px) {
  #basket-products-container {
    width: 90%;
  }

  #basket-product-name {
    font-size: 23px;
  }

  #basket-product-size {
    font-size: 13px;
  }

  .basket-product-price {
    font-size: 18px;
  }
}

@media(max-width:600px) {
  #basket-products-container {
    width: 90%;
    margin: 0px 0px 0px 25px;
  }

  #basket-product-name {
    font-size: 21px;
  }
}

@media(max-width:600px) {
  #basket-products-container {
    width: 95%;
    margin: 0px 0px 0px 5px;
  }

  #basket-product-name {
    font-size: 20px;
  }


  #basket-product-info-container {
    margin: 20px 0px 0px 5px;
  }

  #basket-title-container {
    margin: 0px 0px 0px -55px;
  }

  #basket-info-container {
    margin: 0px 0px 19px 20px;
  }

  #basket-product-qty-container {
    display: flex;
    flex-direction: row;
    margin-top: 85px;
  }

  #basket-product-qty-container {
    /*margin-top: 68px;*/
    margin-top: 0;
  }
}

@media(max-width:450px) {
  #basket-products-container {
    width: 98%;
    margin: 0px 0px 0px 5px;
  }

  #basket-product-container {
    height: 189px;
  }

  #basket-product-image-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    width: 150px;
  }

  #basket-product-info-container {
    margin: 26px 0px 0px 5px;
  }

  #basket-product-name {
    font-size: 15px;
  }

  #basket-resumen-title {
    font-size: 25px;
    margin-top: 15px;
  }

  #discount-form {
    width: 90px;
  }

  .basket-product-delete-container {
    flex-basis: 15%;
    margin: 25px 0px 0px 0px;
  }

  .basket-product-sale-price {
    font-size: 18px;
  }

  .basket-product-price-active {
    font-size: 18px;
  }

  .basket-product-price {
    font-size: 18px;
  }

  #basket-product-qty-container {
    /* margin-top: 40px;*/
    margin-top: 0;
  }

  #basket-resumen-info-container {
    margin-bottom: 100px;
  }

  #basket-resumen-checkout-btn {
    width: 95%;
  }
}


/* List products */

#list-products-section {
  min-height: 600px;
  margin-top: -50px;
}

#list-products-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  height: auto;
  border: 1 px solid red !important;
  margin: 100px auto;
  margin-bottom: 20px;
  overflow: hidden;
}

.list-product-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /*
  width: 240px;
  height: 340px;
  margin: 20px 20px;*/
  width: 280px;
  height: 370px;
  margin: 5px 10px;
  border: 0px solid blueviolet;
  overflow: hidden;
}

.list-products-container {
  margin: 0;
}

.list-product-img {
  display: flex;
  flex-direction: row;
  /*
  width: 240px;
  max-height: 245px;
  min-height: 244px;*/
  width: 280px;
  max-height: 285px;
  min-height: 285px;
  margin-top: 0px;
  overflow: hidden;
}

.list-product-img a img {
  width: 100%;
  height: 100%;
  max-height: 500px;
  object-position: center;
  object-fit: cover; /*contain*/
  position: relative;
}

#list-product-info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.list-product-price {
  display: block;
  margin: 0;
  font-size: 15px;
  font-family: MontserratFuenteCustom;
  color: #2f466f;
  text-transform: uppercase;
  text-align: left;
}

.list-product-sale-store-price {
  margin: 0;
  font-size: 15px;
  font-family: MontserratFuenteCustom;
  color: #acacac;
  text-decoration: line-through;
  text-transform: uppercase;
  text-align: left;
}

.list-product-sale-price {
  float: left;
  width: auto;
  margin: 0;
  margin-right: 5px;
  font-size: 15px;
  font-family: MontserratBold;
  text-transform: uppercase;
  color: #2f466f;
  text-decoration: none !important;
  text-align: justify;
}

.list-product-name {
  margin: 0;
  font-size: 14px;
  font-family: MontserratFuenteCustom;
  color: #4D5254;
  text-transform: uppercase;
  text-align: left;
}

.list-product-category {
  margin: 0;
  font-size: 12px;
  font-family: MontserratFuenteCustom;
  color: #7C8082;
  text-transform: uppercase;
  text-align: left;
}

#pagination-btn-container {
  width: 100%;
  border: 0px solid green;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

#pagination-btn-next {
  cursor: pointer;
  margin: 0;
  text-align: left;
  width: 90px;
  margin-left: 5px;

}

#pagination-btn-next h4 {
  font-family: MontserratFuenteCustom;
  color: #2f466f;
  transition: all ease 400ms;
}

#pagination-btn-next:hover h4 {
  color: #9CBED3;
}

#pagination-btn-prev {
  cursor: pointer;
  margin: 0;
  text-align: right;
  width: 90px;
  margin-right: 5px;
}

#pagination-btn-prev h4 {
  font-family: MontserratFuenteCustom;
  color: #2f466f;
  transition: all ease 400ms;
}

#pagination-btn-prev:hover h4 {
  color: #9CBED3;
}


.next-btn-hide,
.prev-btn-hide {
  display: none;
}

@media(max-width:1560px) {
  #list-products-container {
    width: 62%;
  }
}

@media(max-width:1400px) {
  #list-products-container {
    width: 80%;
  }
}

@media(max-width:1050px) {
  #list-products-container {
    width: 100%;
  }

  .list-product-box {
    margin: 0px 10px;
  }

}

@media(max-width:560px) {
  .list-product-box {
    margin: 0px 20px;
  }
}

/* list product banner*/

#list-product-banner-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list-product-banner-title-container {
  width: 690px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: rgba(255, 255, 255, 0.836);
  margin: 80px 0px 0px 0px;
  border: 0px solid red;
  border-radius: 0px 50px 50px 0px;
  text-align: left;
  z-index: 3;
}

.list-product-banner-title {
  margin: 0;
  margin-left: 10px;
  font-size: 70px;
  font-family: MontserratBold;
  color: #2f466f;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
}

.list-products-banner-filters-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100px;
  margin: 0px 0px 40px 0px;
  border: 0px solid red;
  z-index: 3;
}

.list-products-banner-filters {
  width: 200px;
  height: 50px;
  margin: 0px 30px 0px 0px;
  background: rgba(255, 255, 255, 0.836);
  border-radius: 30px;
  border: 0px solid blueviolet;
  cursor: pointer;
  transition: all ease 400ms;
}

.list-products-filters-active-title {
  margin: 12px 0px 0px 0px;
  font-size: 20px;
  font-family: MontserratBold;
  color: #2f466f;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
  transition: all ease 500ms;
}

.list-products-banner-filters:hover {
  background: #2f466f;
}

.list-products-banner-filters-active:hover .list-products-filters-active-title {
  color: rgba(255, 255, 255, 0.836);
}

/*
.list-products-filters-active{
  background: #2f466f;
}

.list-products-filters-active-title{
  color: rgba(255, 255, 255, 0.836);
}
*/
@media(max-width:1000px) {
  .list-product-banner-title-container {
    width: 450px;
  }

  .list-product-banner-title {
    margin-left: 2px;
    font-size: 50px;
  }

  .list-products-banner-filters {
    width: 135px;
    margin: 0px 0px 10px 10px
  }
}

@media(max-width:500px) {
  .list-products-banner-filters-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0px 0px 40px 0px;
  }

  .list-products-banner-filters {
    width: 160px;
    height: 35px;
    margin: 0px 0px 10px 0px;
  }

  .list-products-banner-filters>h4 {
    margin: 6px 0px 0px 0px;
  }
}

@media(max-width:463px) {
  .list-product-banner-title-container {
    width: 330px;
  }

  .list-product-banner-title {
    margin-left: 0px;
    font-size: 35px;
    letter-spacing: 1px;
  }
}

#footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 150px;
  background: #4D5254;
  margin: -50px 0px 0px 0px;
  text-align: center;
}

#footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
}

.social-icons-container {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}

.social-icons-container a {
  text-decoration: none;
  margin: 10px;
  margin-bottom: 5px;
  width: 15px;
  color: #757D82;
}

.social-icons-container a h3 {
  width: 10px;
  margin-bottom: 0px;
}

#footer-content h3 {
  margin: 0px;
  color: #757D82;
  font-size: 20px;
}

.item-confirmation-container {
  width: 100%;
  height: auto;
  margin-top: 70px;
  margin-bottom: 70px;
  border: 0px solid black;
}


.product-confirmation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: auto;
  border: 1px solid #4D5254;
  margin-bottom: 20px;
}

.product-confirmation-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#product-confirmation-info {
  width: 100%;
  margin: 5px 0px 0px 10px;
  border: 0px solid red;
}

#product-confirmation-products-container {
  width: 100%;
  margin: 5px 0px 0px 10px;
  border: 0px solid blueviolet;
}

.product-confirmation-btns-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 5px 0px 0px 10px;
  border: 0px solid blueviolet;
}

.product-btn-confirmation {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 15px;
  font-family: MontserratBold;
  text-transform: uppercase;
  width: 200px;
  height: 30px;
  background: #2f6f66;
  border: 0px;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  transition: all ease 400ms;
}

.product-btn-confirmation:hover {
  background: #1b413c;
}

.product-btn-cancelation {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 15px;
  font-family: MontserratBold;
  text-transform: uppercase;
  width: 200px;
  height: 30px;
  background: #e75853;
  border: 0px;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  transition: all ease 400ms;
}


.product-btn-cancelation:hover {
  background: #a33e3e;
}

.product-confirmation-product-info {
  display: inline-flex;
}

#list-products-filters-btns-container {
  width: 200px;
  height: 50px;
  margin-top: 50px;
  border: 0px solid red;
}

#list-products-filters-btn-filters {
  width: 200px;
  height: 50px;
  margin: 0px 30px 0px 0px;
  background: #9CBED3;
  border-radius: 30px;
  border: 0px solid blueviolet;
  cursor: pointer;
  transition: all ease 400ms;
  font-size: 20px;
  font-family: MontserratBold;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

#list-products-filters-btn-filters:hover {
  background: #84a0b1;
}

#list-products-filters-desplegable {
  position: fixed;
  flex-direction: column;
  width: 95%;
  margin-left: 102%;
  height: 800px;
  background: #ffffff;
  color: transparent;
  top: 15px;
  border: 1px solid rgba(68, 67, 67, 0.342);
  box-shadow: -3px 1px 7px rgb(82, 81, 81);
  z-index: 1005;
  left: 0;
  text-align: center;
  justify-content: flex-start;
  padding-top: 50px;
  transition: all .5s ease-in-out;
}

#list-products-filters-content-container{
  width: 100%;
  height: 670px;
}

#list-products-close-filters-container{
  width: 100%;
  height: 30px;
  margin-top: -30px;
  margin-bottom: 10px;
  text-align: left;
  margin-left: 20px;
}

#list-products-close-filters-container > #list-products-close-filters-btn{
  font-size: 23px;
  width: 30px;
  margin-left: 10px;
  font-family: MontserratBold;
  color: #2f466f;
  cursor: pointer;
}

/*ANIMATION*/
#list-products-filters-desplegable.open-desplegable {
  margin-left: 5%;
}

#save-filters-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 60px;
  position: relative;
}

#save-filters-btn {
  width: 200px;
  height: 50px;
  margin: -200px 0px 0px 0px;
  background: #9CBED3;
  border-radius: 30px;
  border: 0px solid blueviolet;
  cursor: pointer;
  transition: all ease 400ms;
  text-align: center;
}

#save-filters-btn:hover {
  background: #2f466f;
}

#save-filters-btn-title {
  margin-top: 12px;
  font-size: 20px;
  font-family: MontserratBold;
  color: #ffffff;
  text-transform: uppercase;
}

#list-products-filters-sizes-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
  margin: 0px 0px 0px 0px;
  border-top: 10px solid #2f466f;
  border-bottom: 10px solid #2f466f;
}

#list-products-filters-sizes-title-container {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  border: 0px solid red;
}

#list-products-filters-sizes-title {
  margin-left: 30px;
  margin-top: 10px;
  font-size: 25px;
  font-family: MontserratBold;
  color: #2f466f;
  text-align: left;
}

#list-products-filters-sizes-btns-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 30%;
  width: 90%;
  height: 300px;
  margin-left: 20px;
  margin-bottom: 20px;
  border: 0px solid blueviolet;
}

.list-products-filter-size-box {
  display: flex;
  align-items: center;
  width: 100px;
  height: 40px;
  border: 1px solid rgba(68, 67, 67, 0.5);
  margin: 5px 10px 0px 0px;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease 400ms;
}

.list-products-filter-size-box:hover {
  background-color: #9CBED3;
}

.list-products-filter-size-radio {
  background: none;
  display: none;
}

.list-products-filter-size-title {
  width: 100%;
  height: 100%;
  padding-top: 9px;
  cursor: pointer;
  background: none;
  font-size: 1rem;
  font-family: MontserratBold;
  text-transform: uppercase;
  color: #202020;
  text-align: center;
}


.list-products-filter-size-radio:checked+.list-products-filter-size-title {
  background-color: #9CBED3;
}

@media (max-width: 1800px) {

  #list-products-filters-desplegable{
    height: 700px;
  }

}

/* whatsapp fixed button */
.btn-wsp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 20px;
  right: 25px;
  background: #45c153;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: all 300ms ease;
}

.btn-wsp:hover {
  text-decoration: none;
  color: #45c153;
  background: #fff;
}