{% extends "layout.html" %}

{% load static %}

{% block body %}
   <section id="index-content">
      <!-- BANNER -->
      <div id="index-banner-container">
         <div class="capa"></div>
         <div class="banner-content">
         </div> 
      </div>

      <!--<div id="colmo-design-background"></div>-->
      <!-- PRODUCT SLIDER -->
      <section id="product-slider-section">
         <!-- title -->
         <div class="product-slider-container">
            <h3 class="product-slider-heading">Productos Nuevos</h3>
         
            <div class="glider-contain">
               <div class="glider" id="glider-id">
                     <!--Codigo para el carrusel de productos-->
               </div>
               
               <div id="product-slider-previus-btn" class="glider-prev">
                  <button aria-label="Previous" class="glider-prev">«</button>
               </div>
               <div id="product-slider-next-btn" class="glider-next">
                  <button aria-label="Next" class="glider-next">»</button>
               </div>
               
            </div>
         </div>

      </section>

   </section>
{% endblock body %}

{% block script %}
    <script src="{% static '/js/carrusel.js' %}"></script>
    <script src="{% static '/js/glider.min.js' %}"></script>
{% endblock %}