{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="{% static 'img/COLMO-Submarca-Negro.jpg' %}">
    <link rel="icon" href="{% static 'img/COLMO-Submarca-Negro.jpg' %}">
    <!--Glider carousel css-->
    
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/glider.min.css' %}">
    <title>Colmo Store</title>
    {% block javascript %}
        <script defer src="{% static 'js/menu.js' %}"></script>
    {% endblock javascript %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div id="website-area">
        <!--<div id="announcements">
            <span id="announcements-message">
                <p>Entrega inmediata en ordenes antes de las 6pm</p>    
            </span>
        </div>-->
        <header id="header" class="menu-fixed">
            <div id="announcements">
               <!-- <span id="announcements-message">
                    <p>Entrega inmediata en ordenes antes de las 6pm</p>    
                </span>-->
            </div>
            <nav id="nav" class="menu-desplegable">
                <div id="logo">
                    <a href="{% url 'colmo:index' %}">
                        <img src="{% static 'img/COLMO-Logo_secundario-Azul.png' %}" alt="Colmo Store">
                    </a>
                </div>
                <div class="menu-btn-nav">
                    <div class="menu-btn">
                      <div class="btn__burger"></div>
                    </div>
                </div>

                <ul id="nav-menu">
                    <li>
                        <span href="" id="nav-menu-clothes">ROPA</span> <!--nav-menu-clothes-mobile-->
                        <ul id="nav-menu-clothes-dropdown" class="nav-menu-clothes-dropdown"> <!--nav-menu-clothes-dropdown-mobile-->
                            <li class="nav-menu-clothes-dropdown-category">
                                <span class="nav-colmo-icon"></span>
                                <a href="{% url 'colmo:list_products' slug='caballeros' %}">CABALLEROS</a>
                            </li>
                            
                            <li class="nav-menu-clothes-dropdown-category">
                                <span class="nav-colmo-icon"></span>
                                <a href="{% url 'colmo:list_products' slug='damas' %}">DAMAS</a>
                            </li>
                        </ul>
                    </li>
                    
                    <li>
                        <span href="" id="nav-menu-brands">MARCAS</span>
                        <ul id="nav-menu-brands-dropdown" class="nav-menu-brands-dropdown">
                            {% for brand in brands %}
                            <li class="nav-menu-brands-dropdown-category">
                                <span class="nav-colmo-icon"></span>
                                <a href="{% url 'colmo:list_brand_products' brand_slug=brand.slug %}">{{brand}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    
                    <li>
                        <a href="{% url 'colmo:list_products' slug='accesorios' %}">ACCESORIOS</a>
                    </li>
                    
                    <li>
                        <a href="{% url 'colmo:list_products' slug='ofertas' %}">OFERTAS</a>
                    </li>

                    <li>
                        <a href="{% url 'colmo:list_products' slug='populares' %}">MAS BUSCADOS</a>
                    </li>

                </ul>

                <ul id="nav-menu-user">
                    <li>
                        <input id="product-search-input" type="text" placeholder="Buscar" hidden>
                    </li> 
                    <li>
                        <a href="{% url 'colmo:login' %}" title="user" id="user-icon"hidden>
                            <img src="{% static 'img/user.png' %}" alt="user">
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'colmo:basket' %}" title="basket" id="basket-icon">
                            <img src="{% static 'img/carritoblue.png' %}" alt="">
                        </a>
                        {% if basket %}
                            <div id="basket-count">
                                <h3 id="basket-count-title">{{ basket|length }}</h3>
                            </div>
                        {% endif %}
                    </li>
                </ul>
            </nav>
            <!--<nav id="nav-menu-clothes-dropdown-nav"></nav>-->
                <!--<ul id="nav-menu-clothes-dropdown" class="nav-menu-clothes-dropdown">
                    <li class="nav-menu-clothes-dropdown-category">
                        <a href="{% url 'colmo:list_products' slug='caballeros' %}">CABALLEROS</a>
                    </li>
                    
                    <li class="nav-menu-clothes-dropdown-category">
                        <a href="{% url 'colmo:list_products' slug='damas' %}">DAMAS</a>
                    </li>
                </ul>
            -->
        </header>
        
        <div class="body">
            {% block body %}
            {% endblock %}
            {% block wsp-btn %}
                <section id="btn-wsp-section">
                    <a class="btn-wsp" href="https://api.whatsapp.com/send?phone=584125553868" target="_blank">
                        <h3 class="fa-brands fa-whatsapp icon-whatsapp"></h3>
                    </a>
                </section>
            {% endblock %}
        </div>

        <footer>
            <div id="footer-container">
                <div id="footer-content">
                    <div class="social-icons-container">
                        <a href="https://instagram.com/colmo.vzla?igshid=NmNmNjAwNzg=" target="_blank"><h3 class="fa-brands fa-instagram" ></h3></a>
                        <a href="https://api.whatsapp.com/send?phone=584125553868" target="_blank"><h3 class="fa-brands fa-whatsapp" ></h3></a>
                    </div>
                    
                    <h3>2022 Colmo</h3>
                    <h3>Venezuela</h3>
                </div>
            </div>
        </footer>

    </div>
    {% block script %}
      
    {% endblock %}
</body>
</html>