{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="{% static 'img/COLMO-Submarca-Negro.jpg' %}">
    <link rel="icon" href="{% static 'img/COLMO-Submarca-Negro.jpg' %}">
    <!--Glider carousel css-->
    <link rel="stylesheet" href="{% static 'css/glider.min.css' %}">
    <title>Colmo Store</title>
    {% block javascript %}
        <script defer src="{% static 'js/menu.js' %}"></script>
    {% endblock javascript %}
</head>
<body>
    <div id="website-area">
        <!--<div id="announcements">
            <span id="announcements-message">
                <p>Entrega inmediata en ordenes antes de las 6pm</p>    
            </span>
        </div>-->
        <header id="header" class="menu-fixed">
            <div id="announcements">
               <!-- <span id="announcements-message">
                    <p>Entrega inmediata en ordenes antes de las 6pm</p>    
                </span>-->
            </div>
            <nav id="nav" class="menu-desplegable">
                <div id="logo">
                    <a href="{% url 'colmo:index' %}">
                        <img src="{% static 'img/COLMO-Logo_secundario-Azul.png' %}" alt="Colmo Store">
                    </a>
                </div>
                <div class="menu-btn-nav">
                    <div class="menu-btn">
                      <div class="btn__burger"></div>
                    </div>
                </div>


                <ul id="nav-menu">
                    <li>
                        <a href="{% url 'colmo:list_products' slug='caballeros' %}">CABALLEROS</a>
                    </li>
                    
                    <li>
                        <a href="{% url 'colmo:list_products' slug='damas' %}">DAMAS</a>
                    </li>
                    
                    <li>
                        <a href="{% url 'colmo:list_products' slug='accesorios' %}">ACCESORIOS</a>
                    </li>
                    
                    <li>
                        <a href="{% url 'colmo:list_products' slug='ofertas' %}">OFERTAS</a>
                    </li>

                    <li>
                        <a href="{% url 'colmo:list_products' slug='populares' %}">MAS BUSCADOS</a>
                    </li>
                    
                </ul>
                <ul id="nav-menu-user">
                    <li>
                        <input id="product-search-input" type="text" placeholder="Buscar" hidden>
                    </li> 
                    <li>
                        <a href="{% url 'colmo:login' %}" title="user" id="user-icon"hidden>
                            <img src="{% static 'img/user.png' %}" alt="user">
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'colmo:basket' %}" title="basket" id="basket-icon">
                            <img src="{% static 'img/carritoblue.png' %}" alt="">
                        </a>
                    </li>
                    
                </ul>
            </nav>
        </header>
            
        <div class="body">
            {% block body %}
            {% endblock %}
            
        </div>

        <footer>
            <div id="footer-container">
                <div id="footer-content">
                    <div class="social-icons-container">
                        <a href="https://instagram.com/colmo.vzla?igshid=NmNmNjAwNzg="><h3 class="fa-brands fa-instagram"></h3></a>
                        <a href=""><h3 class="fa-brands fa-whatsapp"></h3></a>
                    </div>
                    
                    <h3>2022 Colmo</h3>
                    <h3>Venezuela</h3>
                </div>
            </div>
        </footer>

    </div>
    {% block script %}
      
    {% endblock %}
</body>
</html>